.container{
    color: white;
    display: block;
    margin: 0 auto;
    max-width: 650px;
    max-height: 1000px;
    display:flex;
    justify-content: space-between;
    background-color: #222831;
	color: #ffffff;
    padding-top: 40px  60px;
    border-radius: 25px;
    height: 400px;
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;

}


body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right,blueviolet ,pink,blue,purple);
}
.weather-side{
    position: relative;
    background-image: url("https://i.pinimg.com/originals/0b/21/f6/0b21f6ad37b9c694b0a4f8640978ff9c.gif");
    padding:135px;
    height: 272px;
    padding-top: 0px;
    border-radius: 25px;
     transition: transform 300ms ease-in-out;
  
}

.weather-side:hover{

    transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.input{
    margin-top: 20px;
    padding:8px;
    border-radius: 30px;
    border:none
    
}
.button{
    width: 90px;
    padding: 8px;
    border-radius: 30px;
    background: linear-gradient(to right,blueviolet ,pink,blue,purple);
}


#humid-data{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#wind-data{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#forecast{
    border-top: 10px white ;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-right: 20px;
    
}

.date-container {
	position: absolute;
	top: 25px;
	left: 25px;
}

.weather-container {
	position: absolute;
	bottom: 25px;
	left: 25px
}
.temperature{
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}
.condition{
    margin: 0;
    font-size: 27px;
    font-weight: bold;
}

.main-icon{
    width: 90px;
    height: 90px;
 font-size: 50px;
 padding-bottom: 0px;
}

.city{
    margin: 0;
   font-size: 30px;
}

.time{
    margin-top: 0;
    font-size: 16px;
}


.humid{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.percentage{
    font-size: 20px;
    font-weight: bold
}
.wind{
    font-size: 20px;
    font-weight: bold
}
.speed{
    font-size: 20px;
    font-weight: bold;
}



ul{
    max-width: 35px;
    list-style-type: none;
    background:#222831;
	color: #fff;
    transition: 200ms ease-in-out;
	border-radius: 25px;
     box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    padding: 22px;
    cursor: pointer;
display: block;
margin: 0 auto;
    
    


}

  ul:hover {
    background:#fff;
	color:#fff;
    transform: scale(1.1);
     box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}
 .icon{
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
 }
 .day{
    padding-bottom:10px; 
 }
 .first-day{
    background: #fff;
    color: blacK;
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
 }

 .first-day:hover{
    transform: scale(1.1)
 }

 a{
    text-decoration: none;
    color: rgb(51, 3, 51);
 }
 .coder{
    margin-top: 60px;
    text-align: center;
 }




